
  <p-dataTable [value]="cars" [rowsPerPageOptions]="[10,15,20]" [pageLinks]="10"
       expandableRows="true"
       rowExpandMode="single"
       [paginator]="true"
      [rows]="10" (onRowExpand)="onRowExpand($event)"
      [rowTrackBy]="rowTrackBy"
      dataKey="vin"
      [loading]="true"
      (onPage)="onPage($event)"
      (onSort)="onSort($event)"
      sortField="brand"
       [sortOrder]="1"
       [immutable]="true"
       >
      <p-column expander="true" [style]="{'width':'40px'}"></p-column>
      <p-column field="vin" header="Vin" [sortable]="true"></p-column>
      <p-column field="year" header="Year" [sortable]="true"></p-column>
      <p-column field="brand" header="Brand"></p-column>
      <p-column field="color" header="Color"></p-column>
      <p-column field="action" header="Action" styleClass="col-button">
          <ng-template let-car="rowData" pTemplate="body">
              <button type="button" pButton (click)="selectCar(car)" icon="fa-search"></button>
          </ng-template>
      </p-column>
      <ng-template let-car pTemplate="rowexpansion">
          <app-simple [car]="car">

          </app-simple>
          <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
              <div class="ui-grid-row">
                  <div class="ui-grid-col-3" style="text-align:center">
                      <!--<img src="assets/showcase/images/demo/car/{{car.brand}}.png">-->
                  </div>
                  <div class="ui-grid-col-9">
                      <div class="ui-grid ui-grid-responsive ui-grid-pad">
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2 label">Vin: </div>
                              <div class="ui-grid-col-10">{{car.vin}}</div>
                          </div>
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2 label">Year: </div>
                              <div class="ui-grid-col-10">{{car.year}}</div>
                          </div>
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2 label">Brand: </div>
                              <div class="ui-grid-col-10">{{car.brand}}</div>
                          </div>
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2 label">Color: </div>
                              <div class="ui-grid-col-10">{{car.color}}</div>
                          </div>
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2 label">Order detail: </div>
                              <div class="ui-grid-col-10">{{car.orderDetail}}</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
  </p-dataTable>

  <hr>
  <h5>info</h5>
  <p>{{expandedRows | json}}</p>

<hr>

<button (click)="see()">seee</button>
<button (click)="justToRun()">jus tu run</button>
